<h1 *ngIf="showTitle">User details</h1>
<div>
    <label for="Usuario">Usuario: {{ userDetails.username }}</label>
    <br>
    <label for="Nombre">Nombre: {{ userDetails.name }}</label>
    <br>
    <label for="Apellido">Apellido: {{ userDetails.lastname }}</label>
    <br>
    <label for="Telefono">Telefono:{{ userDetails.phone }} </label>
    <br>
    <label for="Email">Email: {{ userDetails.email }}</label>
    <br>
    <label for="Edad">Edad: {{ userDetails.age }}</label>
    <br>
    <label for="Rol">Rol: {{ userDetails.rol.rolname }}</label>
    <br>
</div>
